@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');


body {
    background-image: url('retrowave.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

p {
    display: inline-block;
    text-align: left;
    
  }

ul {
    display: table;
    margin: 0 auto;
  }
  
ol {
    display: table;
    margin: 0 auto;
  }
  
iframe {
    display: block;
    margin: 0 auto;
  }
  
img {
    display: block;
    margin: 0 auto;
  }
  
table {
    border-collapse: collapse;
  }

tr {
    border-bottom: 1px solid #a6a6a6;
    border-top: 1px solid #a6a6a6;
  }

.eg-color {
    color: lightblue;
}

.TNR {
    font-family: "Times New Roman", Times, serif;
}

#potato {
    color: orange;
}

.eg-bg {
    background-color: yellow;
    color: black;
}

div.special {
    text-align: center;
    margin: 20px;
    padding: 2%;
    border: 1px solid grey;
    background-color: rgba(192,192,192,0.4);
    color: white;
}

.font-eg {
    font-family: 'Roboto Mono', monospace;
}

.gradient-eg {
  background: linear-gradient(to bottom, #FFA6B7 0%, #1E2AD2 100%);
  
}

.border-p {
  border: 1px solid greenyellow;
}

.container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.flex-item {
  flex-grow: 1;
  flex-basis: 20%;
  display: flex;
  flex-direction: column;
}